body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

canvas {
    display: block;
    margin: 20px auto;
    background-color: #ddd;
    border: 1px solid #ccc;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.image-container img {
    width: 150px;
    height: 150px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.image-container img.selected {
    border-color: blue;
    transform: scale(1.1);
}
